<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>W3Clone</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.4/iconify-icon.min.js"></script>
    <script src="https://kit.fontawesome.com/a64a40a2cc.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <main class="main-section">
        <div>
            <div class="navbar">
                <ul class="options">
                    <li><a href="#"><iconify-icon icon="material-symbols:home" height="30" style="color: #ffffff;"></iconify-icon></a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JAVASCRIPT</a></li>
                    <li><a href="#">SQL</a></li>
                    <li><a href="#">PYTHON</a></li>
                    <li><a href="#">JAVA</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">BOOTSTRAP</a></li>
                    <li><a href="#" style="white-space: nowrap;">HOW TO</a></li>
                    <li><a href="#">C++</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">REACT</a></li>
                    <li><a href="#">JQUERY</a></li>
                </ul>
                <ul class="otheroptions">
                    <li class="dropdown">
                            <a href="#" id="dropbtn"><i class="fa-sharp fa-solid fa-circle-half-stroke" style="color: #ffffff;"></i></a>
                            <div class="dropdown-content">
                                <div class="color-mode">
                                    <input type="checkbox" name="example" value="1">
                                    <label>Dark mode</label>
                                </div>
                                <div class="color-mode">
                                    <input type="checkbox" name="example" value="2">
                                    <label>Dark code </label>
                                </div>
                            </div>
                    </li>
                    <li><a href="#" id="dropbtn"><i class="fa-solid fa-earth-americas" style="color: #ffffff;"></i></a></li>
                    <li>
                        <a class="search-icon" id="dropbtn"> <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a>
                        <div class="hidden-search-input">
                            <form>
                                <input type="text" placeholder="Search W3Clone" name="search">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>  
        </div>
        <div>
            <div>
                <ul class="sidebar">
                    <li><a href="#">CSS Tutorial</a></li>
                    <li><a href="#">CSS HOME</a></li>
                    <li><a href="#">CSS Introduction</a></li>
                    <li><a href="#">CSS Syntax</a></li>
                    <li><a href="#">CSS Selectors</a></li>
                    <li><a href="#">CSS How To</a></li>
                    <li><a href="#">CSS Comments</a></li>
                    <li><a href="#">CSS Colors</a></li>
                    <li><a href="#">CSS Backgrounds</a></li>
                    <li><a href="#">CSS Borders</a></li>
                    <li><a href="#">CSS Margins</a></li>
                    <li><a href="#">CSS Paddings</a></li>
                    <li><a href="#">CSS Height/Width</a></li>
                    <li><a href="#">CSS Box Model</a></li>
                    <li><a href="#">CSS Outline</a></li>
                    <li><a href="#">CSS Text</a></li>
                    <li><a href="#">CSS Fonts</a></li>
                   <li><a href="#">CSS Icons</a></li>
                    <li><a href="#">CSS Links</a></li>
                    <li><a href="#">CSS Tables</a></li>
                    <li><a href="#">CSS Display</a></li>
                    <li><a href="#">CSS Max-Width</a></li>
                    <li><a href="#">CSS Position</a></li>
                    <li><a href="#">CSS Z-index</a></li>
                    <li><a href="#">CSS Overflow</a></li>
                    <li><a href="#">CSS Float</a></li>
                    <li><a href="#">CSS Inline-block</a></li>
                    <li><a href="#">CSS Align</a></li>
                    <li><a href="#">CSS Combinators</a></li>
                </ul>
            </div>
            <div class="maincontent">
                <div class="galdiv">
                  <div class="gallery">
                    <a target="_blank" href="#">
                      <img src="/static/Assets/pexels-ash-376464 (1).jpg" alt="pancakeimg" />
                    </a>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="#">
                      <img src="/static/Assets/pexels-ella-olsson-1640772.jpg" alt="pasta" />
                    </a>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="#">
                      <img src="/static/Assets/pexels-jane-doan-1099680.jpg" alt="smoothie"/>
                    </a>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="#">
                      <img src="/static/Assets/pexels-tranmautritam-61180.jpg" alt="Mountains" />
                    </a>
                  </div>
                </div>
                <div class="data">
                    <form action="/action_page.php">
                      <label for="fname">First Name</label><br />
                      <input type="email" id="fname" name="firstname" placeholder="Your name.."><br />
                  
                      <label for="lname">Last Name</label><br>
                      <input type="email" id="lname" name="lastname" placeholder="Your last name.."><br />
                  
                      <textarea>Give your feedback...</textarea><br />
                    
                      <button type="button" class="submit-btn">Submit</button>
                    </form>
                </div>                  
            </div>
        </div>
                    
    </main>
<script src="/static/scripts/script.js"></script>
</body>
</html>
