<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Nav</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.4/iconify-icon.min.js"></script>
    <script src="https://kit.fontawesome.com/a64a40a2cc.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="navbar">
            <div class="options">
                <ul>
                    <li><a href="#"><iconify-icon icon="material-symbols:home" height="30" style="color: #ffffff;"></iconify-icon></a></li>
                    <li><a href="#">html</a></li>
                    <li><a href="#">css</a></li>
                    <li><a href="#">JAVASCRIPT</a></li>
                    <li><a href="#">SQL</a></li>
                    <li><a href="#">PYTHON</a></li>
                    <li><a href="#">JAVA</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">BOOTSTRAP</a></li>
                    <li><a href="#" style="white-space: nowrap;">HOW TO</a></li>
                    <li><a href="#">C++</a></li>
                    <li><a href="#">C</a></li>
                    <li><a href="#">REACT</a></li>
                    <li><a href="#">JQUERY</a></li>
                    <li><a href="#"><i class="fa-sharp fa-solid fa-circle-half-stroke" style="color: #ffffff;"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-earth-americas" style="color: #ffffff;"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></a></li>
                </ul>
            </div>  
        </div>
                    
    </main>    
</body>
</html>